$naranja-vitamina:#FD611A;

$emconst: 16; // Default

@function em($pixels) { // toma parametros pixeles y devuelve em, mas que nada para hacerlo mas responsive con rem
    @return #{$pixels/$emconst}rem;
}

$gris-claro:#f1f2f3;