@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

@import 'components/card';
@import 'components/_contacto.scss';

@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';

 