.footer-main{ /* basado en https://www.armytech.com.ar/ footer main */
    background-color: #565656;
   // width:100%;
    padding-top:2%;
    padding-bottom:2%;
    
    
    font-family: "Rajdhani", sans-serif; /* font candidato var o clase, en carpeta typo*/
    font-weight: 200; //puede ir arriba/
    letter-spacing: 0.02em; 
    font-size: em(10); // em seria mas responsive que pixel. se creo funcion para adaptar px a em
    line-height: 1.42857em;
  //  padding-left:276.781px ;
  //  padding-right:276.781px ;
}

.footer-box{
    margin-left:em(276.781); /*px codigo pag*/
     margin-right:em(276.781);
    color:white;
    display:flex; /* rever, manera de achicarse con flex:*/
    flex-direction:row;
    justify-content: space-between;
   

    &__info, &__lista > li{ /*rever*/
        margin-bottom:em(6);
    }

    &__lista{
        list-style-type: none;
    }

    &__titulo{
        padding-bottom:4px;
        font-size: 1.2em;
        font-weight: 600;
        text-transform: uppercase;

        &::after{
            content: ""; //necesario para que after funcione
            border-bottom:2px solid orangered;
            //width:18%; //al tomar porcentaje depende del largo de h1
            width:em(18);
            display:block;
            border-width: 1.5px;
            padding-top:4px;
        }  
    }
 

    &__link-contacto{
        color:hsl(0, 0%, 64%); // background mas claro 
        text-decoration: none; // sin underline
    }

    &__horario{
        color:#FD8A2F;
    }

    &__tel{
        color:#FD8A2F;
        font-size:medium; //codigo repetido, rever
    
        font-weight:800;
    }

    &__caract{
        color:#FD8A2F;
        font-size:medium;
    }

    &__ofertas{
        border-left:grey solid;
        padding-left:2%;
        border-width: 1px;
    }

    &__login{
        background-color:#888888;
        padding-left:10px;
        border-style:none;
        height:25px;
        width:90%;
    }

    &__enviar{
        text-transform: capitalize;
        margin:0 auto;
        background-color: white;
        border-radius: 6px;
        border-style: none;
        padding:5px;
        margin-left:60%;
        margin-top:2%;
    }



}

input::placeholder{
    color:hsl(0, 0%, 84%);  
}

input:focus::placeholder {
    color: transparent;
}

.footer-bottom{ // footer main
    background-color: white;
    color:grey;
    
    display:inline-block;
    padding-bottom:1%;
    margin-top:1%;
    
}

.footer-bottom__msg{
    
    font-family: "Rajdhani", sans-serif; /* font candidato var o clase, en carpeta typo*/
    font-weight: 200; //puede ir arriba/
    letter-spacing: 0.02em; 
    font-size:em(10); /*preferi no usar px para no necesitar tanto media queries*/
    line-height: 1.42857em;
  
} 
 

@media (max-width: 768px){
    .footer-box, .footer-bottom{
        
        margin-left:11%;
        margin-right:11%;
    }

    .footer-bottom{
        width: max-content;
  
    }
     
}

@media (max-width:1400px){ //estaria bueno agregar soporte ultrawide
    .footer-main, .footer-bottom__msg{ 
       font-size:em(13);
    }

    .footer-bottom{
        padding-left:0;
    }

    .footer-box{ 
    //   gap:1.5em; // no quiero que desaparezcan!
        flex-wrap: wrap;
        margin-right: 0.4em;
        margin-left: 0.4em;
        
    }

    .footer-box__ayuda, .footer-box__info{
        flex:50%; // flex basis 50% del width 
        
    }

    .footer-box__titulo{
        font-size:0.8rem;
    }

    

    
}

