$rosado:deeppink; 
$violeta:purple;
$rojo-apagado:hsl(0, 100%, 40%);   /*si pongo &nav-color:red; no seria muy reutilizable*/
 

/*********************************
            HEADER
*********************************/
.main-header {/*flex permite reacomodar flow al bajar resolucion mediante media */
  display: flex;
  flex-direction: column;
}

#menu {
  display: none;
}

#menu:checked + .nav-bar {
  display: block;
} 

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: yellow;
}

/*********************************
              NAV BAR
  *********************************/
.nav-bar {
     
    background-color: mediumturquoise;

  &__nav-list { /*con flex requiere menos codigo*/
    display: flex;
    list-style-type: none;
    justify-content: center;
  }

  /*&__nav-item {
    text-align: center;
    background-color: pink; 
  }*/

  &__nav-link { /*inline no muestra padding top padding bottom*/
    display: block;
    background-color: $violeta;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
  }

  &__nav-link:hover, &__nav-link:focus{   //que marque cual elijo  
    background-color: $rojo-apagado;
  }
}

/*********************************
              SEARCH BAR
  *********************************/
.search-bar {
  //$color-casero: white; /*mas facil de cambiar, scope local, preguntar*/
  background-color: olivedrab;
  display: flex;
  justify-content: space-between;


  &__logo-container,
  &__form-container {
    padding: 0.65em;
  }

  &__logo-container {
    background-color: yellow;
  }

  &__form-container {
    background-color: gold;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }

  &__form-label {
    background-color: greenyellow;
  }

  &__form-search {
    background-color:#316282;
    width: 90%;

    /*
    &:hover, &:focus{  
        background-color:hsl(328, 100%, 30%);
    }*/
  }

  &__form-submit {
   // background-color: darkslategray;
   background-color: #65BCEF;
}

  &__carrito-container {
    display:flex;
      flex: 0 0 5em;
      background-color: goldenrod;
      
  }

  &__carrito-img{
      
       max-width:100%; 
  }

  &__search-bar__carrito-link{
      display:flex;
  }
}

.search-bar__form-search{ /* prefiero que no este nesteado en .search-bar*/
   
   padding:5px 10px 5px 10px;
   border-radius:5px;

    &:focus{
       filter:brightness(60%); /*si se cambia el color de barra busqueda, brigthness lo cambia*/
    }

    &:hover{ /*rever*/
         
        border-style:solid;
        border-color: #316282;
    }
    &::placeholder{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:hsl(0, 0%, 20%);
    }
}

/*********************************
              MENU TOGGLE
  *********************************/
.menu-toggle {
  display: none;
  background-color: red;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;

  &__label {
    display: block;
    background-color: black;
    width: 100%;
    height: 100%;
  }

  &__pan-arriba,
  &__medallon,
  &__pan-abajo {
    display: block;
    background-color: #333;
    height: 0.2em;
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    margin: 0 auto;
  }

  &__pan-arriba &__pan-abajo{
    top: 0.8em;
  }

  &__medallon {
    top: 50%;
    margin-top: -0.15em;
  }

  &__pan-abajo {
    bottom: 0.8em;
  }
}
@media (max-width: 768px) { /* hasta 768px hace esto*/
  .main-header {
    flex-direction: column-reverse;
  }

  .menu-toggle {
    display: block;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list {
    flex-direction: column;
  }

  .search-bar__carrito-container:hover + .tiptext { /*rever, seria mejor delegarlo a js*/
    display:block;
    left:80%;
    top:50px;
   }
}


.section-cards__header{ /*rever ubicacion sass*/
    padding-bottom: 10px; /*no se superponga la carta*/
}

/*********************************
        tooltips
  *********************************/
 
/*
.tipflow{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}
 
.tipflow__carrito{
    border-style:solid; // candidato mixin
    border-top:solid #333;
    border-left-color:#333;
    border-bottom:none white;
    border-right:none white;
    background-color: white;
    border-width: 1.5px;
    padding:2.5px 5px 2.5px;
    margin-top:4px;
    margin-right:4px;
    display:none;
}

.search-bar__carrito-container:hover + .tiptext { 
    display:block;
}
*/

.tiptext{
    position:absolute; // podria hacerse con flex y quedaria mejor
    top:100px;
    left:92.5%;
    display:none; // o color:transparent, color:black
     
    border-style:solid; // candidato herencia
    border-top:solid #333;
    border-left-color:#333;
    border-bottom:none white;
    border-right:none white;
    background-color: white;
    border-width: 1.5px;
    padding:2.5px 5px 2.5px;

}



//selecciona elem con clase .tiptext solo si .tiptext le sigue inmediatamente  a carrito-container, en hover.
//si fuera sin +, no habria matching
.search-bar__carrito-container:hover + .tiptext { /*rever, seria mejor delegarlo a js*/
    display:block;
}

  