
.contacto{ 
    margin-left:10px; //puede agregarse background y demases
    margin-top:20px;
     
    &__form{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
      width:60%; // ver este tema
      resize:none;
      height:40%;
    }

    & ul{
      list-style-type: none;
    }
    &__input{
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      padding: 13px;
      margin-top: 5px;
     margin-bottom: 14px;
    }

    &__label, &__input, &__comments-title, &__comments { /*rever*/
      width:100%;
      resize:vertical;
    }

    &__comments{
      
      border-radius: 4px;
      border: none;
      resize:vertical; /*habilita solo moverlo en y*/
    }
    &__boton-ui{ // flex viene bien para botonera
      display:flex;
      flex-direction: row;
      justify-content: flex-end;
      gap:10px;
      margin-top:10px;
       
    }

    &__submit, &__reset{
      cursor: pointer;
      padding: 8px 16px;
      /*background: #536A04; // color steam, var o mixin
      background: -moz-linear-gradient(45deg, #536A04 0%, #7FA105 27%, #9FCA06 100%);
      background: -webkit-linear-gradient(45deg, #536A04 0%, #7FA105 27%, #9FCA06 100%);
      background: linear-gradient(45deg, #536A04 0%, #7FA105 27%, #9FCA06 100%);
      color:white;*/
      background-color: #293531;
      color:white;
      border-radius: 4px;
      border: none ;
       

    }
     
}
   
  