@mixin forma-ui { //quiero que los botones e inputs compartan esto, y  evitar codigo repetido o utilizar important
    border-radius: 4px; //candidato var o func
        border: 1px solid #ccc;
        box-sizing: border-box;
        padding: 13px;
        margin-top: 5px;
        margin-bottom: 14px;  
  }
   

.form-alta{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width:40rem; // ver este tema
    
    height:40%;

    &__boton-ui{
        display:flex;
        flex-direction: row;
        justify-content:flex-end; 
        
         
    }
    &__detalles{
        width:163px;
    }
    &__p{
     //   margin-left:5px !important; //feo
     @include forma-ui; // blueprint
      margin:0;
      margin-left:10px;
     
    }

    & label{
        position:absolute;
    }

    &__input-detalles{
        width:163px;
    }

   // &__input-detalles, & input{
    &__input-datos{
        @include forma-ui;
        margin-left:155px;
           
    }

     

}
    
@media (max-width:769px){

    /* no hacer, cascada, influye todos los forms
    form input{
        margin-left:80px; 
    }*/ 
 
    #pfotos{
        overflow: hidden;
    } 
    
    .alta__boton-ui{
 
        justify-content:flex-start;
    }
  }

 