
.c1{
    font-family: centra no2,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

.contenedor-about{ //https://every-layout.dev/layouts/cover/
     
    min-height: 100vh; 
    display:flex;
    align-items: center;
    flex-direction: column;

}

.c1{
    box-sizing: border-box;
    
}

.about-main{
    display:flex;
    flex-direction:row;
    gap:42px; //podria tambien usarse margin 24px en c elemento
}

.about-main, .presentacion__contenido-flex {
    margin-top:em(96);
    margin-bottom:em(96);
}

.about__marca{
    font-weight: bolder;
}

.about__presentacion{
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #F1F1F2;
}


 
.presentacion__contenido-flex{
    display:flex;
    flex-basis:50%;
}

.about__texto{ 
     
    display:flex;
    justify-content: center;
    align-items: center;
}
 

.c1 p{
    font-size: inherit;
    line-height: 1.75;
    text-rendering: optimizeLegibility;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: centra no2,sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: #000;
    -webkit-font-smoothing: antialiased;
}

.about__logo{  
    
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/img/productos/pclogo.jpg");
    color:black;
	background-size: cover; 
    align-self: normal;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
     
     
}

.about__pc{
    z-index: 0;
}

.about__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

.about__contenedor p, .about__contenedor h1{
    color:white;
}

.about__txt-humildes{
   // padding-left: 15%; 
  //  padding-right: 15%;
    text-align-last: center; //justificado
}

.about__contenedor h1{
    line-height: 1;
    margin-bottom: 1rem;
    font-size:3rem;
}

.about__txt-humildes{
    color:white;
}

 


/*
.about_historia{
    overflow: hidden; 
    border-right: .05em solid orange; 
    white-space: nowrap;  
    margin: 0 auto;  
    letter-spacing: .25em; 
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
 
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  */


.header-nos{ 
    @extend .main-header;  
    position:relative;
}