 
.section-cards {
    background-color: $gris-claro;
    padding: 1em;
     
}
 
.btncomprar-container{
    display:flex;
    justify-content: center;
    margin-top: 150px;
   
}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
     
}

@media (min-width: 1200px) {
    .cards-container {
        gap: 2em;
    }
}

@media (prefers-color-scheme: dark){
    img{
        opacity: 0.75;
        transition: opacity .5s ease-in-out;

    }

    img:hover{
        opacity:1;
    }
}

